.landing-page {
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: color, background-color;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: color, background-color;
  -o-transition-duration: 1s;
  -o-transition-timing-function: ease-in-out;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;


  touch-action: manipulation;
  min-height: 100vh;
  background-color: var(--background);
}

.calc-frame {
  display: flex;
  height: calc(100vh - 15px);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.page-separator {
  height: 25px;
  background-image: linear-gradient(var(--background), var(--page-separator));
}

/* command buttons floating on top right corner */

button:focus {
  outline: none;
}

.help-button {
  position: absolute;
  right: 30px;
  top: 80px;
  background-color: transparent;
  border: none;
}

.help-icon {
  color: var(--text-input-font);
  font-size: 30px;
  cursor: pointer;
}

.mode-button {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: transparent;
  border: none;
}

.light-mode-icon {
  color: #E8C575;
  font-size: 30px;
  cursor: pointer;
}

.dark-mode-icon {
  color: #A58EBC;
  font-size: 30px;
  cursor: pointer;
}

/* light and dark mode global variables */
.light-mode {
  --background: white;
  --number-button: #8EB1BC;
  --operation-button: #CADBE1;
  --submit-button: #A58EBC;
  --text-input: #e3f7ff;
  --text-input-font: #222121;
  --nav-selected-button: #f9c1c1;
  --nav-unselected-button: #d5c5c5;
  --page-separator: #222121;
}

.dark-mode {
  color: white;
  --background: #212A35;
  --number-button: #171C22;
  --operation-button: #828A93;
  --submit-button: #e16038;
  --text-input: #353535;
  --text-input-font: white;
  --nav-selected-button: #eca0a0;
  --nav-unselected-button: #ad7676;
  --page-separator: #fffff1;
  
}