.is-number {
  background-color: var(--number-button);
}

.is-operation {
  background-color: var(--operation-button);
}

.is-command {
  background-color: var(--submit-button);
}

.is-result-type {
  background-color: var(--result-type-button);
}