.calc-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.calc-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 400px;
  position: relative;
}

.calc-input {
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  font-size: 20px;
  padding: 10px;
  height: 150px;
  border-radius: 7px;
  border: 2px solid var(--number-button);
  background-color: var(--text-input);
  color: var(--text-input-font);
}

.error-popup {
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  left: 150px;
  border: 3px solid #FF869C;
  border-radius: 5px;
  padding: 10px;
  background-color: #F3BBBE;
}

.keypad-button {
  width: 60px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}

.should-show-error {
  opacity: 1;
}

.error-string {
  color: red;
  font-weight: bold;
}

table.calc-input-board {
  width: 100%;
}

.result-type-list {
  display: flex;
  width: 100%;
}

.result-type-list span {
  width: 100%;
  margin: 2px;
  background-color: var(--operation-button);
  border-radius: 20px;
  cursor: pointer;
}

.result-type-list input {
  margin-left: 0;
}

.history-frame {
  transition: width ease-in-out 1.5s;
  margin-left: 20px;
  display: flex;
  min-height: 100%;
  width: 0;
  overflow: hidden;
}

.should-show-history {
  width: 100%;
}

.nav-bar {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 175px;
  transform: rotate(270deg) translateY(-155px);
  max-width: 273px;
  min-width: 273px;
}

.nav-bar button {
  transition-property: color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border: none;
  padding: 10px;
  width: 100%;
  color: var(--text-input-font);
  font-size: 14px;
}

.nav-bar button:first-child {
  border-radius: 15px 0 0 0;
}

.nav-bar button:last-child {
  border-radius: 0 15px 0 0;
}

.nav-bar .selected-button {
  background-color: var(--nav-selected-button);
}

.nav-bar .unselected-button {
  background-color: var(--nav-unselected-button);
  cursor: pointer;
}